*.js linguist-language=java
*.css linguist-language=java
*.html linguist-language=java
*.ftl linguist-language=java
*.sql linguist-language=java
*.jpg linguist-language=java
*.jpeg linguist-language=java
*.png linguist-language=java
